NEXT_PUBLIC_LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
NEXT_PUBLIC_API_BASE_URL=http://localhost:8030
NEXT_PUBLIC_CONN_DETAILS_ENDPOINT=http://localhost:8030/api/connection-details
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
